:80 {
    encode zstd gzip

    respond /healthz 200

    handle /api/* {
        reverse_proxy fastapi:8000
    }

    handle_path /storage/* {
        reverse_proxy minio:9000
    }

    handle /upload/* {
        root * /srv
        rewrite * /upload/index.html
        file_server
    }

    handle_path /admin/* {
        reverse_proxy minio:9001
    }

    root * /srv
    file_server
}
